@model CoffeeCashlessWeb.ViewModels.TransactionVM

@{
    ViewBag.Title = "Index";

}

<h2>Buy a coffee</h2>
<br />
@using (Html.BeginForm("Index", "BuyCoffee", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="row">
            <div class="col-md-4">
                <label for="NProduct">Choose product</label>
                <select name="Name" id="Name" class="form-control">
                    @foreach (var name in Model.Name)
                    {
                        <option value="@name">@name</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="idAccount">Id Student</label>
                <input type="text" id="idAccount" name="idAccount" class="form-control" />
            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="BUY" class="btn btn-primary" />
            </div>
        </div>
        <div class="row"><br /></div>
    </form>

}



















