@{

    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Coffee Cashless ☕</h1>
    <p class="lead">Hackaton Prototype</p>
    <i><a href="https://www.linkedin.com/in/quentin-nater/">Quentin Nater </a> / <a href="yevheniy.zaychenko@students.hevs.ch" >Yevheniy Zaychenko</a> / <a href="https://www.linkedin.com/in/bonnyvictor/" >Victor Bonny</a> / <a href="https://www.linkedin.com/in/nestor-taverney-ba3614129/" >Nestor Taverney</a></i>
    <br></br>
    <p>
        <a href="https://github.com/Nortah/CashlessCoffe" >
            <img src="http://pngimg.com/uploads/github/github_PNG40.png" width="100px" height="100px" />
        </a>
    </p>
</div>