@{

    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Coffee Cashless</h1>
    <p class="lead">Hackaton Prototype</p>
    <i>Yevheniy Zaychenko / Quentin Nater / Victor Bonny / Nestor Taverney</i><br />
    <p>
        <a href="https://github.com/Nortah/CashlessCoffe" >
            <img src="http://pngimg.com/uploads/github/github_PNG40.png" width="100px" height="100px" />
        </a>
    </p>
</div>